.style-about {
    .review-block {
        padding-bottom: 42px;

        @media (min-width: 768px) {
            padding-bottom: 80px;
        }
    }
}

.list-member {
    .swiper {
        cursor: pointer;
    }
}