/* 
**
**** Category Home1
**
*/
.category-block {
    &.style-one {
        .list-cate {
            .cate-item {
                .cate-img {
                    position: relative;

                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border-radius: 39% 61% 67% 33% / 42% 42% 58% 58%;
                        z-index: -1;
                        box-shadow: 0px 5px 10px rgba(5, 15, 20, 0.1);
                        transition: all ease 0.4s;
                    }
                }
            }

            .swiper {
                .swiper-slide {
                    &:nth-child(1) {
                        .cate-item {
                            .cate-img {
                                &::before {
                                    background-color: #FFD9D8;
                                }
                            }
                        }
                    }

                    &:nth-child(2) {
                        .cate-item {
                            .cate-img {
                                &::before {
                                    background-color: #CFDEF2;
                                }
                            }
                        }
                    }

                    &:nth-child(3) {
                        .cate-item {
                            .cate-img {
                                &::before {
                                    background-color: #EAEAC1;
                                }
                            }
                        }
                    }

                    &:nth-child(4) {
                        .cate-item {
                            .cate-img {
                                &::before {
                                    background-color: #F2D6FF;
                                }
                            }
                        }
                    }

                    &:nth-child(5) {
                        .cate-item {
                            .cate-img {
                                &::before {
                                    background-color: #E1FFD6;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


/* 
**
**** Best Product Home1
**
*/
.best-product-block .cate-item .rotate-y-180 {
    transform: rotateY(180deg);
}

@media (max-width: 1064px) {
    .best-product-block {
        .list-cate {
            .cate-name {
                font-size: 16px;
                line-height: 24px;
            }

            .cate-img {
                width: 40px;
            }

            .cate-item>img {
                width: 40%;
            }

            .cate-item:last-child>img {
                width: 30%;
            }

            &:last-child {
                .cate-item>img {
                    width: 32%;
                }

                .cate-item:last-child>img {
                    width: 25%;
                }
            }
        }
    }
}

@media (max-width: 767.99px) {
    .best-product-block .list-cate .cate-name {
        font-size: 12px;
        line-height: 20px;
    }

    .best-product-block .list-cate .cate-img {
        width: 32px;
    }
}


/* 
**
**** Special Product Home1
**
*/
@media (max-width: 1024px) {

    .list-product.special-product .product-item:nth-child(1),
    .list-product.special-product .product-item:nth-child(2),
    .list-product.special-product .product-item:nth-child(3) {
        display: none;
    }
}


.list-blog {
    @media (max-width: 1024px) and (min-width: 640px) {
        .blog-item {
            &:last-child {
                display: none;
            }
        }
    }
}

.list-review {
    .swiper {
        margin-top: -40px;
        padding-top: 40px;
    }
}